/**

!public

!src
!src/actions
!src/app
!src/app/admin
!src/components
!src/lib
!tests/e2e
!tests/utils
!next.config.js
!playwright.config.ts
!tsconfig.json
!package.json
!README.md
!LICENSE

!supabase
!docs
!tests